@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #012e40;
}

html::-webkit-scrollbar {
  width: 0.7vw;
}
html::-webkit-scrollbar-thumb {
  background: #015170a0;
  border-radius: 1rem;
}
html::-webkit-scrollbar-track {
  background: #00141c30;
  border-left: 1px solid #00141c93;
}
